<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!--    <settings>-->
<!--        &lt;!&ndash; 设置日志输出为LOG4J &ndash;&gt;-->
<!--        <setting name="logImpl" value="LOG4J" />-->
<!--        &lt;!&ndash;将以下画线方式命名的数据库列映射到 Java 对象的驼峰式命名属性中&ndash;&gt;-->
<!--        <setting name= "mapUnderscoreToCamelCase" value="true" />-->
<!--    </settings>-->
    <!--简化类命名空间 -->
    <typeAliases>
        <package name="com.huang.pojo" />
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC" />
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver" />
                <!--跟着数据库名！！！smbms是数据库-->
                <property name="url"
                          value="jdbc:mysql://localhost:3306/smbms?useSSL=false" />
                <property name="username" value="root" />
                <property name="password" value="123456" />
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <!--常规做法-->
        <!--<mapper resource="tk/mybatis/simple/mapper/CountryMapper.xml" />-->
        <!--<mapper resource="tk/mybatis/simple/mapper/PrivilegeMapper.xml" />-->
        <!--<mapper resource="tk/mybatis/simple/mapper/RoleMapper.xml" />-->
        <!--<mapper resource="tk/mybatis/simple/mapper/RolePrivilegeMapper.xml" />-->
        <!--<mapper resource="tk/mybatis/simple/mapper/UserMapper.xml" />-->
        <!--<mapper resource="tk/mybatis/simple/mapper/UserRoleMapper.xml" />-->
        <!--第二种做法-->
<!--        <package name="tk.mybatis.simple.mapper"/>-->
        <mapper class="com.huang.mapper.UserMapper"></mapper>
    </mappers>
</configuration>