<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="addressId" class="com.huang.bo.pojo.Address">
        <property name="address" value="qq"></property>
    </bean>
    <!--  第一种：普通值注入   -->
    <bean id="student" class="com.huang.bo.pojo.Student">
        <property name="name" value="huangbo"></property>
        <!--  第二种：bean注入   -->
        <property name="address" ref="addressId"></property>
        <!--  第三种：数组注入   -->
        <property name="books">
            <array>
                <value>红楼梦</value>
                <value>三国演义</value>
                <value>西游记</value>
                <value>水浒传</value>
            </array>
        </property>
        <!--  第四种：list注入   -->
        <property name="hobbies">
            <list>
                <value>打篮球</value>
                <value>看电视</value>
                <value>写代码</value>
            </list>
        </property>
        <!--  第五种：map注入   -->
        <property name="card">
            <map>
                <entry key="huangbo" value="1221"></entry>
                <entry key="liubo" value="12"></entry>
                <entry key="huang" value="hh"></entry>
            </map>
        </property>
        <!--  第六种：set注入   -->
        <property name="games">
            <set>
                <value>LOL</value>
                <value>CBC</value>
                <value>BOB</value>
            </set>
        </property>
        <!--  第七种：null注入   -->
        <property name="wife">
            <null></null> <!--因为这是自闭和标签，所以这一行可以写成<null/>-->
        </property>
        <!--  第八种：properties注入   -->
        <property name="prop">
            <props>
                <prop key="学号">20210104</prop>
                <prop key="身份证">195502</prop>
            </props>
        </property>
    </bean>

</beans>