<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="hello" class="com.huang.bo.pojo.Hello">
        <property name="str" value="spring"></property>
    </bean>

    <!--  有参构造的下表赋值方式  -->
    <bean id="user" class="com.huang.bo.pojo.User">
        <constructor-arg index="0" value="huangbo"></constructor-arg>
    </bean>

    <bean id="userType" class="com.huang.bo.pojo.User">
        <constructor-arg type="java.lang.String" value="liubo"></constructor-arg>
    </bean>

    <bean id="userPara" class="com.huang.bo.pojo.User">
        <constructor-arg name="name" value="liubo1221"></constructor-arg>
    </bean>
</beans>